            @import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');
            .whole{
                background-color: #53390A;
                font-family: "Sunshiney", cursive;
            }
            .header{
                background-color: #EFD896;
                display: flex;
                justify-content: space-between;
            }
            .logo{
                width: 201px;
                height: 76px;
            }
            .profile{
                width: 74px;
                height: 70px;
            }
            .menu{
                display: flex;
                justify-content: space-between;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            img.back{
                width: 40px;
                height: 40px;
            }
            img.next{
                width: 40px;
                height: 40px;
            }
            .menubtn{
                cursor: pointer;
                background-color: #EFD896;
                width: 100px;
                height: 40px;
                border-radius: 14px;
                font-size: 24px;
            }
            .menuRow1{
                display: flex;
                justify-content: space-around;
                padding-bottom: 5px;
                font-size: 20px;
            }
            .menuRow2{
              display: flex;
              justify-content: space-around; 
              padding-bottom: 15px; 
              font-size: 20px;
            }
            .veganBurger{
                cursor: pointer;
                background-color: #EFD896;
                width: 125px;
                height: 40px;
                border-radius: 5px;
            }
            .chickenBurger{
                cursor: pointer;
                background-color: #DAD0AA;
                width: 140px;
                height: 40px;
                border-radius: 5px;
            }
            .hamburger{
                cursor: pointer;
                background-color: #EFD896;
                width: 112px;
                height: 40px;
                border-radius: 5px;
            }
            .fingerFood{
                cursor: pointer;
                background-color: #EFD896;
                width: 114px;
                height: 40px;
                border-radius: 5px;
            }
             .beverages{
                cursor: pointer;
                background-color: #EFD896;
                width: 102px;
                height: 40px;
                border-radius: 5px;
            }
            .dessert{
                cursor: pointer;
                background-color: #EFD896;
                width: 100px;
                height: 40px;
                border-radius: 5px;
            }
            .searchBar{
                height: 40px;
                width: 312px;
                background-color: #EFD896;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-radius: 12px;
            }
            img.searchicon{
                display: flex;
                justify-content: space-between;
                width: 25px;
                height: 25px;
                padding-right: 5px;
                padding-left: 5px;
            }
            .searchtext{
                display: flex;
                justify-content: space-between;
                font-size: 16px;
            }
            .searchSection{
                display: flex;
                justify-content: space-around;
                padding-bottom: 20px;
            }
            img.filter{
                display: flex;
                justify-content: space-around;
                width: 40px;
                height: 40px;
            }
            .card{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                margin-left: 10px;
            }
            .card-img-top{
                width: 155px;
                height: 132px;
                display: block;
            }
            .card-body{
                background-color: #EFD896;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                display: flex;
                flex-direction: column;
                padding: 0 !important;

            }
            .card-title{
               font-size: 16px;
               padding-left: 5px;
               display: flex;
               justify-content: center;
            }
            .card-text{
                display: flex;
                justify-content: space-between;
                margin-top: auto;
            }
            .price{
                font-size: 14px;
            }
            .rating{
                display: flex;
                justify-content: center;
            }
            img.star{
                width: 12px;
                height: 12px;
                padding-right: 5px;
            }
            .rate{
                font-size: 12px;
            }
            img.heart{
                width: 20px;
                height: 20px;
            }
            .AddtoCart{
                display: flex;
                justify-content: space-between;
                width: 70px;
                height: 20px;
                border-bottom-right-radius: 5px;
                border-top-left-radius: 5px;
                font-size: 12px;
                color: white;
                background-color: black;
            }
            .catagories{
                display: flex;
                flex-direction: column;
                margin-right: 10px;
            }
            .catagory1{
                display: flex;
                justify-content: space-between;
            }
             .catagory2{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                margin-bottom: 10px;
            }
             .catagory3{
                display: flex;
                justify-content: space-between;
            }
            .footer{
                background-color: #EFD896;
                margin-top: 10px;
                margin-bottom: 0px;
                display: flex;
                justify-content: space-around;
                align-items: center;
            }